body {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    background-color: #777;
    font-size: 18px;
    text-align: center;
    margin-left: 220px;   

}

header{
    background-color:#ebebeb;
    color:grey;
    padding: 25px;
}

#nav{
    background-color: #ebebeb;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 17px;

}


#section{
    background-color:#ebebeb;
    color:grey;
    float:left;
    width: 495px;
    height: 270px;
    margin-bottom: 17px;
}

#article{
    background-color:grey;
    color: white;
    height:190px;
    width: 480px;
    margin-top: 25px;
    margin-left: 8px;

}


#h{
    background-color:white;
    color: grey;
    padding: 10px;
    height:35px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#p{
    background-color:white;
    color:grey;
    padding: 10px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

#aside{
    background-color:#ebebeb;
    color:grey;
    float:right;
    width: 450px;
    height: 270px;

}

footer{
    clear: both;
    overflow: auto;
    color:grey;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color:#ebebeb;
}