body {
    background-color: grey;
    box-sizing: border-box;
    text-align: center;
}

header{
    color:grey;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;


}

p{
    color:grey;
    padding:20px;
    text-align: center;
    background-color: white;
}

#left{
    background-color:white;
    color:grey;
    float:left;
    width: 225px;
    padding: 20px;
    margin-left: 15%;
}

#article{
    background-color:grey;
    color: white;
    padding: 25px;
    clear:both;
    overflow: auto;
}


.h{
    background-color:white;
    color: grey;
    padding: 20px;
}

.p{
    background-color:white;
    color:grey;
    padding: 20px;
}

#right{
    background-color:white;
    color:grey;
    height: 138px;
    padding: 20px;
    float:right;
    width: 225px;
   

}

footer{
    clear: both;
    overflow: auto;
    background-color:white;
    color:grey;
}